
/* The CSS for the modules and notes pages.  Split from the log in/register pages. 

Colour Scheme is as follows:
#F1F2EF
#718280
#848377
#676555
#181719
*/

html {
  min-height: 100vh;
}
body {
    margin-left: 15.625rem;
  position: relative;
  background-color:#F1F2EF;
}
.container {
    padding: 2.5rem;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
#sideMenu {
  width:15.625rem;
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  background-color: #181719;
  color: #F1F2EF;
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.99;
  z-index:1;
}

.nav-items {
    padding-inline-start: 0;
}

.nav-items > li{
  list-style-type: none;
  margin-bottom: 0.625;
  text-align: left;
}

.nav-items > li:hover{
  transform: scale(1.01);

}
.menulist{
  text-decoration: none;
    color:#F1F2EF; 
}
.green {
  color: #718280!important;
  text-decoration:underline;
}

.menulist:hover{
  text-decoration: underline;
    color:#F1F2EF; 
}

#hamburgerBtn {
  display: none;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
}

#hamburgerBtn:hover {
  cursor: pointer;
}
.accordion {
  background-color: #848377;
  color: #F1F2EF;
  padding: 1.9rem;
  width:80%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-top:1em;
        margin-left:3rem;
}
.active, .accordion:hover {
  background-color: #676555; 
}
.panel {
  padding: 0 1.125rem;
  display: none;
  background-color: #F1F2EF;
  overflow: hidden;
} 
.accordcont {
    margin-top:2.5rem;
}
.thisbutton {
margin-top:2rem;
text-align:center;
background-color:#798897;
border:none;
color: #FFF4F3;
}
.thisbutton:hover
{
  background-color:#E16365;
border:none;
color: #FFF4F3;
text-decoration:none;
}

@media only screen and (max-width: 768px) {

  body {
    margin-left: 0px;
  }
  #sideMenu {
    width: 100vw; 
    transform: translateX(-1000px);
    transition: 500ms transform;
  }
  
  #sideMenu.open {
    transform: translateX(0);
  }
  
  .nav-items > li{
    list-style-type: none;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  
  #hamburgerBtn {
    display: inline-block;
    z-index: 10;
  }
  .accordion {
      margin-left:0;
      width:100%
  }
}