/* The CSS for the modules and notes pages.  Split from the log in/register pages. 

Colour Scheme is as follows:
253443
37475F
B3C1CE
FBFCFB
CDA21F

CSS is organised by pages */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Libre+Baskerville&display=swap');
html {
  min-height: 100vh;
}

body {
  margin-left: 15.625rem!important;
  position: relative;
  background-color: #FBFCFB;
}
.subheading {
    font-family:Montserrat;
    font-size:3rem;
    color: #253443;
    text-transform:uppercase;
    padding-bottom:2rem;
}
.subline {
    font-family: hind;
    letter-spacing:1px;
    color:#253443;
    text-align:center;
    padding-bottom:2rem;
}
.divider {
  max-width: 5rem;
  border-width: .2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 1px solid #253443;
}
/* NAVBAR */
.container {
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#sidemenunav {
  width: 15.625rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #253443;
  color: #FBFCFB!important;
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.99;
  z-index: 1000;
  font-family: "Montserrat";
}
.navbaritems {
  padding-inline-start: 0;
  color: #F1F2EF!important;
    list-style-type: none;
  margin-bottom: 0.625;
  text-align: center;
}

.navbaritems:hover {
  transform: scale(1.01);
  color: #CDA21F!important;
  transition: background-color 0.5s linear;
}
.underlink{
  color: #CDA21F!important;
}
.underlink:hover{
  color: #F1F2EF!important;
  text-decoration: underline;
  transition: background-color 0.2s linear;
}
#hamburgerBtn {
  display: none;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;

}
#hamburgerBtn:hover {
  cursor: pointer;
}

/* MODULES PAGE */ 

button.accordion {
  width: 100%;
  background-color: #37475F;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #B3C1CE;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;

}
button.accordion.is-open:after {
  content: '\f056';
}
button.accordion:hover,
button.accordion.is-open {
  background-color: #CDA21F;
  color: #253443;
  -webkit-transition: background-color 300ms linear, color 1s linear;
  -moz-transition: background-color 300ms linear, color 1s linear;
  -o-transition: background-color 300ms linear, color 1s linear;
  -ms-transition: background-color 300ms linear, color 1s linear;
  transition: background-color 300ms linear, color 1s linear;
}

.accordion-content {
  background-color: #FBFCFB;
  padding: 0 1.2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordioncontainer {
  margin-top: 3rem;
  width: 80%;
}
.accordionicon {
    align-items:right;
    color:#253443;
    text-decoration:none;
}
.accordionicon:hover {
    color:#CDA21F;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
}
.floating {
     background-color:#CDA21F;
        color:#FBFCFB;
}
.floating:hover {
       background-color:#37475F;
   -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.dropdown-content li>span{
    color:#253443;
}
.dropdown-content li>span:hover {
    background-color:#B3C1CE;
}
/* MODAL STYLING */
.modal .modal-content {
    font-family: "Montserrat";
    text-align:center;
    background-color: #FBFCFB;
    color:#253443;
}
.modal-footer {
    background-color: #B3C1CE;
    color:#253443;
}
.btn {
    background-color: #253443;
    color:#FBFCFB;
}
.btn:hover {
    background-color:#cda21f;
    color:#37475F;
}
.large {
    height:6rem;
}
@media only screen and (max-width: 768px) {

  body {
    margin-left: 0!important;
    width:100%;
  }

  #sidemenunav {
    width: 100vw;
    transform: translateX(-1000px);
    transition: 500ms transform;
  }

  #sidemenunav.open {
    transform: translateX(0);
  }

  .navbaritems>li {
    list-style-type: none;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  #hamburgerBtn {
    display: inline-block;
    z-index: 2000;
  }

  .accordioncontainer {
    margin-left: 0;
    width: 100%
  }
}

/* NOTES PAGE */

.blend {
    background-color: #253443;
    color: #F1F2EF;
}
.notesicon {
    color:#CDA21F;
    text-align:right;
}

/* EDIT NOTES PAGE */

.notetext {
    padding: 4em;
    color:red;
}
.notetitle {
    padding: 4em;
}
.notetitle[type='text'] {
    font-size:1.5rem;
    color:red!important;
}