/* The CSS for the login and register pages.  Split from the logged-in pages. 

Colour Scheme is as follows:
#F1F2EF
#689E9B
#848377
#676555
#181719
*/
body {
    background-color:#F1F2EF;
}
.flashes {
    text-decoration:none;
    list-style:none;
    color:#689E9B;
    text-decoration:underline;
    font-weight:bold;
    font-size:1.4rem;
}
.nameindex {
text-align:center;
padding-top:2.75em;
padding-bottom:3rem;

}
.emailinput { 
    border:none;
    border-bottom: 2px #676555 solid;
    background-color: transparent;

}
.emailinput:active { 
    border:none;
    border-bottom: 2px #676555 solid;
    background-color: transparent;

}
.logincontainer {
padding-left:2rem;
padding-right:2rem;
padding-top:3rem;
text-align:center;
padding-bottom:5rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginbtn {
margin-top:2rem;
text-align:center;
background-color:#848377;
border:none;
color: #F1F2EF;
}
.loginbtn:hover
{
  background-color:#689E9B;
border:none;
color: #F1F2EF;
text-decoration:none;
}
.reghere {
padding-top:5rem;
text-align:center;
}
.bottom{
    padding-top:0.75rem;
}
.link {
    color: #689E9B;
}
.link:hover {
    color: #689E9B;
    text-decoration:underline
}

/* Media query to remove shadow and make input section larger */
@media screen and (max-width: 576px) {
  .logincontainer {
      box-shadow: none;
  }
  .emailinput {
      width:100%;
  }
}
