.nameindex {
text-align:center;
padding-top:2.75em;
padding-bottom:3rem;

}
.logincontainer {
padding-left:2rem;
padding-right:2rem;
padding-top:3rem;
text-align:center;
padding-bottom:5rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginbtn {
margin-top:2rem;
text-align:center;
}
.reghere {
padding-top:5rem;
text-align:center;
}
.bottom{
    padding-top:0.75rem;
}
@media screen and (max-width: 576px) {
  .logincontainer {
      box-shadow: none;
  }
  .emailinput {
      width:100%;
  }
}
