{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
    <div class = "container-fluid">
    <form action="{{ url_for('update_notes', note_id=notes._id) }}" method="POST">
      <div class="row">
      <div class="row">
      <div class="input-field">
        <label for="title">Notes Name</label>
            <input id="title" name="title" type="text" required placeholder="{{note.title}}"> 
        </div>
      <div class="input-field">
      <label for="icon_telephone">Notes</label>
        <textarea name="note" id="note">{{note.note}}</textarea>
      </div>
    </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Update
        </button>
      </div>
    </form>
  </div>
</div>
  {% endblock %}
