{% extends "base.html" %}
{% block body %}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p><form action="{{ url_for('add_subject') }}" method="POST">
              <div class="input-field">
                <br><br>
                <label for="subject_name">Subject Name</label>
                <input id="subjects" name="subjects" type="text" required>
              </div>
              <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn-flat" type="submit">Add Subject</button>
    </div>
            </form></p>
    </div>
  </div>
          

<div class="container-fluid accordioncontainer">
{% for subject in subjects %}
      <button class="accordion">{{subject.subject}}</button>
      <div class="accordion-content">
      <br>
      <div class="row">
      <div class="col-4">
      Topic Name
      </div>
      <div class="col-4">
      Add Topic
      </div>
      <div class="col-4">
      Delete Topic
      </div>
      </div>
      <hr>
      <br>
      {% for topic in topics %} 
      {% if subject.subject == topic.subject %} 
      <div class="row">
      <div class="col-4"> 
      <p>{{topic.topic}}</p>
      </div>
      <div class="col-4">
      <i class="small material-icons">post_add</i>
      </div>
      <div class="col-4">
       <a href="{{url_for('delete', topics_id=topic._id)}}"><i class="small material-icons">delete</i></a>
      </div>
       </div>
       <hr>
       <br>
      {% endif %}
      {% endfor %} 
      </div> 
      {% endfor %}
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red modal-trigger" href="#modal1">
    <i class="large material-icons">post_add</i>
  </a>
</div>
      
    {% endblock %}