{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
<h2 class="subheading center">notes</h2>
<p class="subline"> Click the button at the bottom of the page to create a note, you can then edit and delete your notes
</p>
<hr class="divider">
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large modal-trigger floating" href="#modal3">
    <i class="large material-icons">post_add</i>
  </a>
</div>
<div class = "container-fluid notescontainer">
<div class="row">
  {% for notes in notes %}
  <div class="col-lg-4 col-md-6 col-sm-12 noteblock">
  <button class="accordion">
  <div class="card blend">
            <div class="card-content">
              <span class="card-title">{{ notes.title }}</span>
              <p>{{ notes.subject }}</p>
            </div>
            <div class="card-action">
              <a href="{{url_for('edit_notes', note_id=notes._id)}}"><i class="small material-icons notesicon">edit</i></a>
              <a href="{{url_for('delete_notes', note_id=notes._id)}}"><i class="small material-icons notesicon">delete</i></a>
            </div>
  </div>
  </button>
        <div class="accordion-content inside"><span>{{ notes.note }}</span></div>
  </div>
  <hr class="divider">
{% endfor %}
</div>
</div>

<div id="modal3" class="modal notesmodal">
  <div class="modal-content">
    <h4>Add Notes</h4>
    <p>
      <form action="{{ url_for('add_notes') }}" method="POST">
        <br>
        <select id="subject" name="subject" required>
          <option value="" disabled selected>Choose the Subject</option>
          {% for sub in subjects %}
          <option value="{{sub.subject}}">{{sub.subject}}
          </option>
          {% endfor %}
        </select>
        <br><br>
        <div class="input-field">
          <label for="title">Notes Name</label>
          <input id="title" name="title" type="text" required>
        </div>
        <div class="input-field">
          <label>Notes</label>
          <textarea name="note" id="note" class="large"></textarea>
        </div>
        <div class="modal-footer">
          <button class="modal-close button waves-effect btn" type="submit">Add Note</button>
        </div>
      </form>
    </p>
  </div>
</div>
{% endblock %}
