{% extends "base.html" %}
{% block body %}
<h2 class="heading center-align"> Your Notes </h2>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large modal-trigger floating" href="#modal3">
    <i class="large material-icons">post_add</i>
  </a>
</div>
<div class="col-lg-8 col-sm-8 col-md-8">
<div class="input-field s6">
				<div class="select-wrapper">
					<i class="material-icons prefix">filter_list</i>
					<select id="FilterSelect">
						<option class="filter" selected disabled>Filter Notes By Subject</option>
					</select>
				</div>
			</div>
</div>

<div id="modal3" class="modal notesmodal">
  <div class="modal-content">
    <h4>Add Notes</h4>
    <p>
      <form action="{{ url_for('add_notes') }}" method="POST">
        <br>
        <select id="subject" name="subject" required>
          <option value="" disabled selected>Choose the Subject</option>
          {% for sub in subjects %}
          <option value="{{sub.subject}}">{{sub.subject}}
          </option>
          {% endfor %}
        </select>
        <br><br>
        <div class="input-field">
          <label for="title">Notes Name</label>
          <input id="title" name="title" type="text" required>
        </div>
        <div class="input-field">
          <label for="icon_telephone">Notes</label>
          <textarea name="note" id="note"></textarea>
        </div>
        <button class="btn btn-link" type="submit">Add Note</button><br><br><br>
      </form>
    </p>
  </div>
</div>

<div class="container-fluid">
  {% for notes in notes %}
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">{{notes.subject}}</h5>
        <h6 class="card-title">{{notes.title}}</h6>
        <p class="card-text">{{notes.note}}</p>
        <a href="{{url_for('edit_notes', note_id=notes._id)}}" class="btn btn-primary">Edit</a>
        <a href="{{url_for('delete_notes', note_id=notes._id)}}" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}