{% extends "index.html" %}
{% block body %}
<div class="row details">
<div class="col-sm-12 col-md-6 col-md-6">
  <img src="{{ url_for('static', filename='imgs/register.svg') }}" class="img-fluid regimg">
</div>
<div class="col-sm-12 col-md-6 col-md-6">
<h4 class="reghead">Register for Study-Pal</h4>
<h3 class="regsub">Change the way you study today!</h3>
  <div class="details">
    <form method=POST action="{{ url_for('register') }}">
      <div class="col-lg-6 offset-lg-3 col-sm-12">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" required>
                <span class="helper-text" data-error="wrong" data-success="right">Your Email Address</span>
              </div>
            </div>
        <button class="button waves-effect btn" type="submit">Register</button>
      </div>
    </form>
  <div class="redirect">
  <strong>
      Already have an account? <a class="link" href="{{ url_for('home') }}">Login here</a>.</strong>
  </div>
  </div>
</div>
</div>

{% endblock %}
